.teamview {
    width: 100%;
    height: 2940px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.cloud{
    width: 240px;
    height: 120px;
}
.cloud {
    position: absolute;
    animation: moveCloud linear infinite;
    background-repeat: no-repeat;
    background-size: contain;
}


.clouds2 {
    position: absolute;
    animation: moveCloud linear infinite;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 90px;
}

.cloud1 {
    top: 100px;
    left: -200px;
    animation-duration: 20s; /* Faster animation */
}
.cloud12 {
    top: 200px;
    left: -200px;
    animation-duration: 30s; /* Faster animation */
}

.cloud2 {
    top: 772px; /* Adjusted position */
    left: -400px;
    animation-duration: 30s;
}

.cloud3 {
    top: 1262px; /* Adjusted position */
    left: -500px;
    animation-duration: 30s; /* Slower animation */
}
.cloud4 {
    top: 2200px; /* Adjusted position */
    left: -500px;
    animation-duration: 20s; /* Slower animation */
}

@keyframes moveCloud {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(calc(100% + 1300px));
    }
}


    .paddingcard{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    background-color: #ffff;
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.15);
    border-radius: 11PX;
    }
    .tmg{
        margin-top: 110px ;
    }
    .txmg{
        padding-bottom: 66px ;
       
    }
    .blh{
      font-family: "Blinker", sans-serif;
    font-weight: 700;
    font-size: 64px;
    font-style: normal;
    }
    .blhic{
      font-family: "Blinker", sans-serif;
    font-style: normal;
    }
    .blp{
      
        font-family: "Fira Sans", sans-serif !important;
        font-weight: 400;
        font-size: 19px;
        font-style: normal;
      }
  .amt{
    margin-top: -17px;
  }
   
   .contribute {
    position: absolute;
    top: -100px; 
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;
  }
  
  .visible {
    top: 50%;
    opacity: 1;
  }
  
  .contribute-wrapper {
    position: relative;
    height: 200px; /* Adjust as needed */
    margin-top: 4rem;
  }

   .contribute{
    height: 540px;
    width: 95%  ;
   }

.contribute-1 {
  height: 298px;
  width: 100%;
  margin-top: -87px;
  animation: slideFromTop 1s ease forwards;
  padding-left: 84px;
  }
  
  /* For Contributers2 (bottom image) */
  .contribute-2 {
    height: 300px;
    width: 94%;
    margin-top: 113px;
    animation: slideFromBottom 1s ease forwards;
    padding-left: 3px;
  }
  
  @keyframes slideFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  