body {
    overflow-x: hidden;
}

.ctbg {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}


.pg {
    padding-top: 80px;
}

.ctc {
    padding-top: 130px;
}

.ctpg {
    padding-top: 80px;
    padding-left: 50px;
}

.btgit {
    background: linear-gradient(to left,#193054 , #79C977 ); 
    color: white;
    border: 1px;
    padding: 15px;
}

.ctp {
    margin-left: 100px;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
}

.cth {
    margin-left: 100px;
    font-size: 64px;
    font-family: "Blinker", sans-serif;
    font-weight: 700;
    font-style: normal; }

.ctb {
    margin-left: 100px;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background: linear-gradient(to right, #193054 0%, #21457D 80%);
    border-radius: 5px;
    color: white;
    padding: 18px 35px;
    border: none;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .ctc{
        padding-top: 27px;
    }
    .cth{
        margin-left: 47px;
        font-size: 30px;
    }
    .ctp{
        margin-left: 42px;
    }
    .ctb{
        margin-left: 42px ;
    }
    .ctpg{
        padding-left: 162px;
    }
    .ctpg img{
        width: 200px;
    }
    .ctbg{
        height: 407px;
        
    }
    .ctmg{
        margin-top: -246px;
    }
    .pg{
        padding-top: 40px;

    }
}