.are {
    font-size: 49px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #6F7174;
  }
  
  .btnare{
    background: linear-gradient(to bottom, #154992, #193054  );
    font-family: "Blinker", sans-serif;
    padding: 1rem;
    font-weight: bold;
  }
  
  .head {
    font-size: 62px;
    color: #193054;
    font-family: "Blinker", sans-serif;
    font-weight: 700;
    font-style: normal;  }
  .arpg {
    width: 340px;
    height: 70px;
    margin-left: 14px;
  }
  .para1 {
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
  }
  
  .logo-container {
    display: inline-flex; /* or inline-block */
    align-items: center; /* Align items vertically */
  }
  
  .logo {
    width: 16.33px; /* Adjust width as needed */
    height: 23.33px; /* Adjust height as needed */
    margin-right: 10px; /* Add spacing between the logo and text */
  }
  
  .card{
    background-color: transparent;
  }
  .are {
    margin: 0; /* Reset margin for the text */
  }
  
  #video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
  }
  
  #video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

  .rb{
    font-family: "Blinker", sans-serif;
    font-weight: 400;    
    font-style: normal;
    font-size: 18px;

  }
  
  /* customer jsx */
   .brd{
    border: none !important;
   }
  
  /* exb.jsx */
  .db{
    background-color:#d0e2fa ;
    padding-top: 0px;
    padding-bottom: 90px;
  }
  .emptylay{
    background-color: #D9D9D9;
    width: 100%;
    height: 369px;
  }
  
  @media (max-width: 768px) {
    .full{
      text-align: center;
    }
    .head{
      font-size: 32px;
      /* padding-top: 10px; */
    }
    .are{
      font-size: 16px;
    }
    .para1{
      padding-top: 1.5rem !important;
      font-size: 17px;
    }
    .cus{ 
      margin-top: -2em !important;
    }
    .cr{
      margin-top: 20px ;
  
    }
    .arpg {
      width: 160px;
      height: 32px;
      margin-left: 14px;
  }
  .rbpg{
    width: 343px;
  }
  .mare{
    width: 22rem;
    margin-left: -49px;
  }
  }
  @media (max-width: 400px) {
  .arpg {
    width: 119px;
    height: 22px;
    margin-left: 14px;
  }
  .mare{
    width: 22rem;
    margin-left: -49px;
  }
  }