.mcircle {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    border-color: white;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fl{
    margin-left: 21px;
    margin-top: 2rem;
  }
  .mc{
    margin-left: 225px !important;
    margin-top: -35px;    background-color: #263F82;
    color: white;
  }
  .mfi{
    width: 200px;
    height: 45px;
    margin-left: -31px;
    margin-top: -29px;
  }
  .mfm{
    margin-left: 145px;
    margin-top: -64px;
  }
  .mcp {
    font-size: 12px;
    padding-top: 167px;
    margin-left: 20px;
}
  .mcol{
    margin-left: 65px;
  }
  .mfp{
    margin-left: -30px;
    margin-top: 13px;  }
    .mfpp{
      margin-left: -30px;
      margin-top: 13px; 
      max-width: 120% !important;
     }
  .mfr{
    margin-left: 128px;
    margin-top: -253px;
}
  
.mfc{
    margin-left: 255px;
    margin-top: -253px;
}
.mft{
  margin-left: -34px;
}

.mfpr{
    margin-left: 84px;
    margin-top: -49px;
}
.mfco{
    margin-left: 175px;
    margin-top: -49px;
}

.mccp{
    font-size: 11px;
    padding-top: 13px;
    /* margin-left: 45px; */
}
