.carousel-card {
    border: none;
}
.mfcrsl {
    /* height: 700px;  */
    margin-top: -2.2rem !important;
    position: relative;
    background-color: #E5F0FF    ;
    width: 114%;
    margin-left: -7%;
    border-radius: 8px;
}
.mfclogo {
    margin-top: -3rem;
    margin-left: 73px;
    width: 24px;
    height: 24px;
}
.mfuc {
    margin-left: -50px;
    font-weight: 700;
    font-size: 16px;
    margin-top: -1.3rem;}

.custom-carousel .carousel-item.active .card{
    border-top: 7px solid;
    border-top-color: #79C977;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.custom-carousel .carousel-inner {
   
    border-radius: 8px;
}
  
.cbm{
    margin-left: 6%;
    margin-top: 1rem
}

.carousel-item {
    height: 100%; /* Ensure each carousel item takes the full height */
}

 .carousel-content{
    margin-left: 1.5rem }
.carousel-control-next,
.carousel-control-prev {
    opacity: 1.5;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    z-index: 1000;
}

.carousel-control-next-icon {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black; 
    display: none;
}

.carousel-control-prev-icon {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black; 
    display: none;

}

.mmg {
    width: 100%; /* Adjust the width to 100% */
    max-width: 350px; /* Set a maximum width if needed */
    /* margin-left: -10px; */
    padding-bottom: 2rem;
}

.carousel-item.active .carousel-card {
    border-top: 7px solid;
    border-top-color: #79C977; 
    
    transition: border-top-color 0.3s ease; }

/* .mf{
    border-top: 8px solid;
    border-top-color: #79C977;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: border-top-color 0.3s ease;
} */
 .mf{
    padding: 0 !important;
 }
.slide{
    margin-top: -1.2rem;
}
.icon {
    margin-left: 65px;
}

.mch {
    margin-left: -120px;
    font-family: "Blinker", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.mmh{
    font-family: "Blinker", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.mmp{
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
}
.mw{
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    padding-top: 1rem;
}

.mbtn{
    margin-left: -9rem;
}
.mbd{
    padding-bottom: 15px;
}


/* M carousel */

.mbg{
    background-color: #193054;
    }
    .mfbg{
background-color: #E5F0FF;
border: none;        }    
.wbg {
    background-color: #193054;
    border-radius: 0;
}

.mbmg{
    width: 345px;
    /* height: 112% !important; */
    margin-left: -31px;
    margin-top: 10%;
    padding-bottom: 5rem;
}

.mflogo{
    margin-top: -18px;
    margin-left: -6px;
}

.muc{
    margin-left: -137px;
}

.mmainh{
    margin-top: .5rem;
    font-family: "Blinker", sans-serif;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
}

.custom-carousel .carousel-control-next-icon {
    /* Your custom styles for the next arrow */
    border-left-color:#ffff; /* Change the color to red as an example */
    margin-top: -5rem !important;
    margin-left: 32px !important; 
        display: none !important;

 }
  
  .custom-carousel .carousel-control-prev-icon {
    /* Your custom styles for the previous arrow */
    border-right-color: #ffff; /* Change the color to red as an example */
    margin-top: -5rem !important;
    margin-left: -37px  ;
        display: none !important;

}
@media (max-width: 500px) and (min-width: 400px) {
    .mmg {
        width: 100%;
        max-width: 427px;
        margin-left: 0px;
        padding-bottom: 2rem;
    }
    
}

