/* Trusted.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.at78{
  margin-left: 22% !important;
}
.at87{
  margin-right: 22% !important;
}

.mtrusted-sec-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -9%;
}

.trusted-img-wrapper {
  width: calc(33.33% - 40px); /* Adjust width to fit three divs in one row */
  margin: 15px; /* Adjust margin as needed */
}

.mtrusted-img {
  width: 150%;
  height: 100%;
  object-fit: cover;
  margin-left: -30%;
  /* padding:  1rem; */
  padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
