.platform-header {
    min-height: 730px;
    width: 100%;
    font-family: alata;
    font-weight: 300;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .plf {
    width: 70%;
    height: 300px;
    font-family: alata;
    font-weight: 350;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 11rem;
    margin-top: 6%;
  }
  
  .pare{
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
  }
  .phead {
    font-size: 64px;
    /* font-family: "Blinker", sans-serif; */
    font-weight: 700;
    font-style: normal;
}
  .pl_bottom{
    padding-top: 59px;
    text-align: center;
  }
  .ph{
    font-size: 58px;

  }
  .ppara1{
    font-size: 20px;
    font-style: normal;
  }
 .provideroverlay{
  background: linear-gradient(to bottom,#021125  , #406CAA  );
  width: 100%;
  height: 651px;
  border-radius: 7px;
  margin-top: 70px;
  margin-bottom: 10px;
 }
  
  .plcontent{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif ;
    padding-top: 46px;
    width: 100%;
    height: 651px;
  }

  .plcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 9rem;
  }
  
  .rows {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .colp {
    flex: 0 0 calc(50% - 10px); /* Two columns with a gap of 20px between them */
    margin-bottom: 20px;
  }
  
  .cards {
    border: 1px solid #ddd;
    border-radius: 8px;
    align-items: center;
    overflow: hidden;
    border: none;
  }
  
  .cards img {
    width: 80px; /* Set the desired width for the icon */
    height: 80px; /* Set the desired height for the icon */
  }
  
  .card-description {
    padding: 60px;
    text-align: center;
  }
  
  
  
  .row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-content {
    flex: 1;
  }
  .ppleft{
    margin-left: 22%;
    margin-top: 10%;
  }
  .piright{
    max-width: 68%;
    height: auto;
    margin-top: 17%;
    margin-left: 10%;
  }
  .right-content {
    flex: 1;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  