.rcontainer {
    display: flex;
    height: 440px;
    width: 80%;
    margin-left: 8rem;
}
  
  .rleft-column {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-right: 2px solid #000; */
    /* border-radius: 8px; */


  }
  
  .rleft-column img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 2rem;
  }
  
  .rright-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #000;
    border-radius: 8px;
  }
  
  .option {
    padding: 23.5px 20px;
    cursor: pointer;
    width: 100%;
    color: #193054;
    border-bottom: 2px solid #000 ;
    background-color: #CFE3FF;
    text-align: center;
    font-family: "Blinker", sans-serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 8px;

}
  .option:hover, .option.active {
    background-color: #193054;
    color: white;
  }
  