.rvdo{
    padding-left: 155px;
}


.rplay{
    background-color: #C9E0FF    ;
    width: 100%;
    height: 651px;
    border-radius: 7px;
    margin-top: 70px;
    margin-bottom: 10px;
}

.rc{
    margin-bottom: 150px;

}
* report radio button */
.image-container {
  width: 608px;
  height: 280px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.image-container img {
  width: 100%;
  height: 370px;
}

.radio-box {
  border: 1px solid #0a0a0a;
  border-radius: 7px;
  padding: 35px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}
/* .rm{
      margin-top: -44px;

} */
.radio-box.checked {
  background: linear-gradient(to right, #193054  ,#154992 );
  color: white;
}

.radio-box label {
  display: block;
}


.rctc {
    padding-top: 130px;
    position: relative;
}

.rctc::before {
    content: '';
    position: absolute;
    top: 69px;
    left: 63px;
    width: 91%;
    height: 90%;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(10px); /* Apply blur effect */
    z-index: 1;
}

.rctp {
    margin-left: 200px;
    position: relative; /* Ensure text content is on top of the overlay */
    z-index: 2; /* Ensure text content is on top of the overlay */
}

.rcth {
    margin-left: 200px;
    font-size: 64px;
    position: relative; /* Ensure text content is on top of the overlay */
    z-index: 2; /* Ensure text content is on top of the overlay */
}

.rctb {
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #193054 0%, #21457D 80%);
    border-radius: 5px;
    color: white;
    padding: 7px 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: relative; /* Ensure button is on top of the overlay */
    z-index: 2; /* Ensure button is on top of the overlay */
}

.rctbg {
    height: 500px;
    /* background-image: url('./rpg4.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
